<div class="container">
    <div class="heading">
        <p>About Us</p>
    </div>
    <div class="card">
        <p>Trigger to building bestebest.com was a shopping experience of buying resistance band online.</p>
        <p>Our running coach sent us a list of things to buy with the recommended products. Readily found this product (resistance band) on a populareCommerce site. It had customers ratings of 3.4. Another product listingthat was vying for the attention had higher customers ratings of 4.2 withthe prominent "Site's choice" banner. Bought the resistance band that had higher customers ratings and website's accreditation. It was a quick and easy decision</p>
        <p>Three months of use, this resistance band wasn't fit anymore for its intended use. It had lost its elasticity. Browsed the E-Commerce site to share the feedback with the seller. Noticed that customers ratings had dipped and product no longer had "site's Choice" banner within three months!. Folks who bought coach recommended product were happywith their decision. Two years old resistance band coach was using still looked great!</p>
        <p>This experience piqued curiosity to understand the customer ratings induced buying decisions vis-a-vis expert recommendations. It was shocking to notice customers are misguided often to make sub-optimal choices. E-Commerce site displays and sells all kinds of products - the latest, flagship and the phased-out products. Any products sellers willing to sell is up for sale listings. Customers ratings can be a surreptitious tool to push products. Customers ratings often don't provide the complete picture.</p>
        <p>Customers quest to buy the best products always begins top-down. Usually start with search by budget, customer ratings, and then features. We simplified and inverted this process by presenting just the best products recommended by experts.</p>
        <p>At bestebest.com, our mission is to help customers find the best products easily, quickly and reliably.</p>
    </div>
</div>