<div class="container">
    <p class="heading">Customer Subscription</p>
    <div class="card">
        <div class="description">
            <p>We are offering a limited period annual subscription option. Subscription option entails</p>
            <ol>
                <li>Access to unlimited in-depth review reports</li>
                <li>Custom review request (upto 10 products)</li>
                <li>Video consultation (6 sessions)</li>
            </ol>
        </div>
        <br>
        <div class="button">
            <button><span class="big">Subscription for 12 months @ INR 299</span><br><span class="small">Promotional offer - valid till Dec 31, 2020</span></button>
        </div>
    </div>
</div>