<div class="container">
    <p class="heading">Who are our Reviewers?</p>
    <div class="card">
        <div class="description">
            <p>Our reviewers come from diverse professional backgrounds.<br />
            Product reviews and recommendations are a pro bono acts from our reviewers to share their product knowledge for the customers benefit.<br />
            Our reviewers are unaffiliated to manufacturers or brands.</p>
            <br>
            <p>Join us as Professional Reviewer if you are</p>
            <br>
            <p>✔ The go-to person for advise for friends and family</p>
            <p>✔ Serious hobbyist or professional with product insights</p>
            <p>✔ An avid products researcher who is enthusiastic to share insights</p>
        </div>
        <div class="button">
            <button>Join us as a Reviewer</button>
        </div>
    </div>
</div>