<div class="container">
    <div class="one pads">
        <ul>
            <a routerLink="/about">About Us</a> <br>
           <a href="#">Reviewers</a> <br>
           <a href="#">Review Process</a> <br>
           <a routerLink="/faq">FAQ</a>
        </ul>
    </div>
    <div class="two pads">
        <a href="#">Best Laptops</a> <br>
        <a href="#">Best Mobiles</a> <br>
        <a href="#">Best Camers</a> <br>
        <a href="#">Best Electronics</a> <br>
        <a href="#">Best Appliances</a>
    </div>
    <div class="three pads">
        <fa-icon [icon]="faFacebook"></fa-icon>
        <fa-icon [icon]="faTwitter"></fa-icon>
        <fa-icon [icon]="faEnvelope"></fa-icon>
    </div>
</div>