<div class="container">
    <p class="heading">Value Added Services</p>
    <div class="card">
        <div class="description">
          <p>We are an <span style="font-style: italic; font-weight: bold;">advertisement-free</span> site and <span style="font-style: italic; font-weight: bold;">accept no product sponsorships</span> or product promotions. This is core to our neutral, un-biased reviews. bestebest.com's mission is to help our customers make the best decision in every purchase. Subscribe to support us</p>
        </div>
      <div class="review">
        <p>Request Custom Review</p>
        <hr>
        <img src="assets/images/review.jpg" alt="review">
        <div class="button">
            <button>INR 249</button>
        </div>
      </div>

      <br>
      <div class="review">
        <p>Request Video Consultation</p>
        <hr>
        <img src="assets/images/conference.svg" alt="conference">
        <div class="button">
            <button>INR 249</button>
        </div>
      </div>

      <br>
      <div class="review">
        <p>Request Review Reports</p>
        <hr>
        <img src="assets/images/report.jpg" alt="report">
        <div class="button">
            <button>INR 249</button>
        </div>
      </div>
      
    </div>
</div>