<div class="container">
    <div class="heading">Frequently Asked Questions</div>
    <div class="card">
        <p class="question">What is Bestebest.com?</p>
        <p class="answer">Bestebest.com is a platform to find the best products - easily, quickly and reliably.</p>
        <p class="question">How is this different from directly searching on E-com sites?</p>
        <p class="answer">It is different. Users can view upfront on what is the best in features and best in value products without the regular flow of search, scan, shortlist and review customer ratings to discover the product to buy.</p>
        <p class="question">Can I find any products on Bestebest.com?</p>
        <p class="answer">Bestebest.com wants to be the google for the best products. Currently, our platform focus is on high-involvement and high-value products only.</p>
        <p class="question">What are these high-involvement and high-value products?</p>
        <p class="answer">Products that are infrequently bought, expensive and require product knowledge or some researching to buy it. Laptops, Smart TVs, Appliances, Washing Machine or Microwave Ovens, to name a few products that qualify as high-involvement and high-value purchase.</p>
        <p class="question">Is bestebest.com a product review site?</p>
        <p class="answer">We are the products review platform with a difference. We focus on process with our reviewers to find best in feature and best in value products.</p>
        <p class="question">What is different about bestebest.com?</p>
        <p class="answer">Unlike products listing and review sites, our reviewers are unaffiliated to product manufacturers and brands. Our reviewers are the professionals in their regular life with a deep interest in the products they like to review for the public good.</p>
        <p class="question">How knowledgeable are the crowdsourced reviewers?</p>
        <p class="answer">Between regular shopping researcher and paid career reviewers, there is a broad spectrum of knowledgeable professionals with adequate product expertise. We attract and welcome such professionals to our fold to design our processes of pre-qualification, screening and product reviews.</p>
        <p class="question">Where and how do you find such professionals and expertise?</p>
        <p class="answer">Most of our reviewers are goto persons for their immediate friends and family. These folks already have an air of established credibility around them. Most of our reviewers are from the referrals.</p>
        <p class="question">Can I refer my goto person for advice, as a reviewer on this site?</p>
        <p class="answer">You are most welcome! Request your friend to visit our site bestebest.com to join us as a reviewer.</p>
        <p class="question">I rely on customer ratings on the E-com sites. Is that wrong?</p>
        <p class="answer">Most customers rely on customer ratings to buy. There is nothing wrong with it. However, customer ratings may not reflect reality and may not be helpful at all times. Example, a product is overlooked due to no ratings or fewer ratings. Displaying global customer ratings from a different country to buy locally can be misled into sub-optimal choices. The significant finding is what is called "choice bias". Once the customer buys a product unless the product is shoddy, they wouldn't rate it adversely because they chose to buy it.</p>
        <p class="question">Can I request for a custom review of the products?</p>
        <p class="answer">Of course. We have an idea of your angst during the research and buying of an expensive product. Professionals suggestion is timely and welcome help needed. We can also facilitate scheduled video call for a consultation with our experts. These are value-added services and are chargeable.</p>
        <p class="question">Need to talk to somebody at bestebest.com to know more about us?</p>
        <p class="answer">Drop-in a line at support@bestebest.com we will contact you at the first opportunity.</p>
    </div>
</div>